{% extends 'users/layout.html' %}
{% load static %}
{% block title %}
    Timdothatlac.vn
{% endblock %}

{% block wrapper %}
        <div class="container pt-5">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'users:login' %}" method='post'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input class="form-control", type="text", name="username", placeholder="User Name">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password", name='password',placeholder="Pass Word", class="form-control" >
                </div>
                
                <input type="submit", value='Login' class="btn btn-primary">
                <p><a href="{% url 'users:resetpwd'%}">Forgot your password</a></p>
            </form>

            <p>not have account<a href="{% url 'users:register' %}">Register</a></p>
        </div>


{% endblock %}