{%load static%}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'users/styles.css'%}">
    </head>
    <body>
        <form  method="POST">
            
            <div class='container'>
                {% csrf_token %}
                {{form.username.label}}
                {{form.username}}

                {{form.email.label}}
                {{form.email}}

                {{form.password1.label}}
                {{form.password1}}

                {{form.password2.label}}
                {{form.password2}}
    <input type='submit' namne ='Create User'>
            </div>

            <div class='container signin'>
                <p>Already have an account? <a href="{% url 'users:login'%}"> Sign in</a></p>

            </div>
        </form>
    </body>
</html>