{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>timdothatlac.com</title>
        <link rel="stylesheet" href="{% static 'search/register_styles.css'%}">
    </head>
    <body>
        <form action="action_page.php">
            <div class='container'>
                <h1>Reset password</h1>
                <p>Please fill in your email address to reset password</p>
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder='enter email' name='email' id='email' required>
                <hr>
                <div class='signint'>
                    <p><a href="{% url 'login'%}">Sign in</a></p>
                </div>
                <hr>
                <button type='submit' class='sendbtn'><b>Send</b></button>

            </div>

        </form>

    </body>
</html>