{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>

        <script src="https://kit.fontawesome.com/ea6ab068fd.js" crossorigin="anonymous"></script>
        <title> {% block title %} {% endblock %} </title>
        <link href="{% static 'app/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		{% block head%}
		{% endblock %}

    </head>

	<body >
		 <div class="main-index" style="height:100vh" >
			{% include 'app/navbar.html' %}
			<div class="container">
				<div class="wrapper">
					<div class="row">
						<div class="col-lg-3 taskbar">
							<a href="{% url 'apps:postnew'%}" class="item-icon">
								<i class="fas fa-upload"></i>
								Đăng tin
							</a>
							<a href="{% url 'apps:new-search' %}" class="item-icon">
								<i class="far fa-frown-open"></i>
								Tin cần tìm
							</a>
							<a href="{% url 'apps:displaynew'%}" class="item-icon">
								<i class="fas fa-box"></i>
								Tin nhặt được
							</a>
							<a href="{% url 'apps:search-pets' %}" class="item-icon">
								<i class="fas fa-paw"></i>
								Thú cưng
							</a>
							<a href="{%url 'apps:search-people'%}" class="item-icon">
								<i class="far fa-user"></i>
								Tìm người
							</a>
							<a href="{% url 'apps:searchAdvance'%}" class="item-icon">
								<i class="fas fa-search"></i>
								Tìm kiếm nâng cao
							</a>
							<a href="#" class="item-icon">
								<i class="fas fa-phone-slash"></i>
								Danh sách SDT lừa đảo
							</a>
							<br>
							<a href="{% url 'apps:news' %}" class="item-icon">
								<i class="fas fa-newspaper"></i>
								Tin tức
							</a>
							<a href="{% url 'apps:introduce' %}" class="item-icon">
								<i class="fas fa-info"></i>
								Giới thiệu
							</a>
							<a href="{% url 'apps:donate' %}" class="item-icon">
								<i class="fas fa-dollar-sign"></i>
								Ủng hộ dự án
							</a>
							<a href="{% url 'apps:policy' %}" class="item-icon">
								<i class="fas fa-shield-alt"></i>
								Chính sách bảo mật
							</a>
							<a href="{% url 'apps:terms' %}" class="item-icon">
								<i class="fas fa-book"></i>
								Điều khoản sử dụng
							</a>
							<a href="{% url 'apps:warning' %}" class="item-icon">
								<i class="fas fa-shield-alt"></i>
								Cảnh báo lừa đảo
							</a>
							<a href="{% url 'apps:reportError' %}" class="item-icon">
								<i class="fas fa-bug"></i>
								Báo lỗi
							</a>
						</div>
						<div class="col-lg-9">
							<p>

							   {% block content %}
							   {% endblock %}


							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>