{% extends 'users/layout.html' %}
{% load static %}
{% block title %}
    Timdothatlac.vn
{% endblock %}

{% block wrapper %}

<div id="detail">
    <ul class="list-group list-group-flush">
        {% comment %} <li>Title {{ item.title }}</li>
       <li>Type of items: {{item.typeItem}}</li>
       <li>Kind of news : {{ item.postInfo }}</li>
       <li>Address: {{ item.location }}</li>
       <li>Content: {{ item.postInfo }}</li>
       <li>name  post: {{ item.fullname }}</li>
       <li>phone number: {{ item.phoneNum }}</li>
       <li>Email: {{ item.postInfo }}</li> {% endcomment %}
     

          {%if item.title%}
            <li class="list-group-item"> <b>Tiêu đề:</b>  {{ item.title }}</li>
          {% endif %}
          {% if item.content %}
            <li class="list-group-item"><b>Nội dung:</b>  {{item.content}}</li>
          {% endif %}
          
          {%if item.location  %}
            <li class="list-group-item"><b>Địa điểm thất lạc:</b>  {{ item.location }}</li>
          {% endif %}
        
          {%if item.email %}
            <li class="list-group-item"><b>email liên hệ: </b>  {{ item.email }}</li>
          {%endif%}
          {%if item.phone%}
            <li class="list-group-item"><b>Số điện thoại liên hệ:</b> {{ item.phone }}</li>
          {%endif%}

          {%if item.date_time%}
            <li class="list-group-item"><b>Thời gian đăng tin: </b> {{ item.date_time }}</li>
          {%endif%}

          <li class="list-group-item">
            <h2>Comment</h2>
          {% comment %} Comment {% endcomment %}
          {{comments.as_p}}
          </li>

         

    </ul

     
  </div> 

  
 

{% endblock %}