{% extends 'users/layout.html' %}
{% load static %}
{% block title %}
    Timdothatlac.vn
{% endblock %}

{% block wrapper %}

<div id="detail">
    <ul>
       {% comment %} <li>Title {{ item.title }}</li>
       <li>Type of items: {{item.typeItem}}</li>
       <li>Kind of news : {{ item.postInfo }}</li>
       <li>Address: {{ item.location }}</li>
       <li>Content: {{ item.postInfo }}</li>
       <li>name  post: {{ item.fullname }}</li>
       <li>phone number: {{ item.phoneNum }}</li>
       <li>Email: {{ item.postInfo }}</li> {% endcomment %}

          {%if item.title%}
            <li> <b>Tiêu đề:</b>  {{ item.title }}</li>
          {% endif %}
          {% if item.content %}
            <li><b>Nội dung:</b>  {{item.content}}</li>
          {% endif %}
          
          {%if item.location  %}
            <li><b>Địa điểm thất lạc:</b>  {{ item.location }}</li>
          {% endif %}
        
          {%if item.email %}
            <li><b>email liên hệ: </b>  {{ item.email }}</li>
          {%endif%}
          {%if item.phone%}
            <li><b>Số điện thoại liên hệ:</b> {{ item.phone }}</li>
          {%endif%}

         

    </ul

     
  </div> 

  
 

{% endblock %}