{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        
        <script src="https://kit.fontawesome.com/ea6ab068fd.js" crossorigin="anonymous"></script>
        <title> {% block title %} {% endblock %} </title>
        <link href="{% static 'app/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        {% block body %}
        
        {% endblock %}
    </body>
</html>